:root {
    --card-bg: #b0e0e6;
    --sidebar-bg:cadetblue;
    --anzhiyu-background:var(--card-bg);
    --HiPeach-background:var(--anzhiyu-background);
}
[data-theme='dark']{
    --card-bg: #191970;
}
.aside-content .card-info{
    background:url("/img/background.png")!important;
    background-size: 100% 100%!important;
}
[data-theme='dark'] .aside-content .card-info{
    background: linear-gradient(rgba(25,25,112,0.5), rgba(25,25,112, 0.5)), url('/img/background.png') no-repeat 100% 100%/ 100% 100%!important
}
.orlike {
  color: rgba(255, 255, 255);
  font-size: 26px!important;
  line-height: 2;
  text-shadow: 5px 5px 5px #2ed0d9fc;
}
[data-theme=dark]
.orlike {
    color: rgba(255, 255, 255, 0.85);
    text-shadow: 4px 4px 4px #23a8af99;
}
.orlike:first-child{
    margin-right: 36px;
}
.orlike span {
  margin-left: 0.3rem;
}
.orlike-box{
    margin: 15px 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 52px;
}
.orlike:hover{
    color: #f07e7e!important;
}
[data-theme=dark]
.orlike:hover{
    color: #e87373e8!important;
}
.orlike-loading {
    display: block;
    height: 39px;
    width: 10px!important;
    border-radius: 50%;
    border: 2px solid #acacac;
    border-bottom-color: transparent;
    -webkit-animation: orlike-loadingRotate 0.75s linear infinite;
    animation: orlike-loadingRotate 0.75s linear infinite;
}
@-webkit-keyframes orlike-loadingRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes orlike-loadingRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#card-tuijian#card-tuijian#card-tuijian#card-tuijian {
    background: linear-gradient(to right, #35bb99db, #2dbcc4db) !important;
    padding: 15px 0;
    height: 118px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#card-tuijian #tj-box {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: cubic-bezier(0, 0, 0, 1.29) 0.4s;
}

#card-tuijian #tj-box2 {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

#card-tuijian #tj-box1,
#card-tuijian #tj-box2 {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

#card-tuijian #tj-img-box {
    border-radius: 12px;
    margin-left: 10px;
    height: 85px;
}

#card-tuijian #tj-img-box img {
    height: 85px;
    border-radius: 12px;
    filter: brightness(0.95) !important;
}

#card-tuijian #tj-left {
    color: #fff;
    height: 85px;
}

#card-tuijian #tj-left p {
    font-family: monospace, Arial;
    margin: 10px 0 0;
    font-size: 32px;
    line-height: normal;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: -0.5px 0.5px 0 rgba(255, 255, 255, 0.9), 0.5px 0.5px 0 rgba(255, 255, 255, 0.9), 0.5px -0.5px 0 rgba(255, 255, 255, 0.9), -0.5px -0.5px 0 rgba(255, 255, 255, 0.9);
}

#card-tuijian #tj-left span {
    font-size: 15px;
    font-weight: 800;
}

#card-tuijian:hover #tj-box {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 1.6s linear infinite;
  animation: ccc 1.6s linear infinite;
}
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
#content-inner.layout h1::before {
    color: #ef50a8;
    margin-left: -1.55rem;
    font-size: 1.3rem;
    margin-top: -0.23rem;
  }
  #content-inner.layout h2::before {
    color: #fb7061;
    margin-left: -1.35rem;
    font-size: 1.1rem;
    margin-top: -0.12rem;
  }
  #content-inner.layout h3::before {
    color: #ffbf00;
    margin-left: -1.22rem;
    font-size: 0.95rem;
    margin-top: -0.09rem;
  }
  #content-inner.layout h4::before {
    color: #a9e000;
    margin-left: -1.05rem;
    font-size: 0.8rem;
    margin-top: -0.09rem;
  }
  #content-inner.layout h5::before {
    color: #57c850;
    margin-left: -0.9rem;
    font-size: 0.7rem;
    margin-top: 0rem;
  }
  #content-inner.layout h6::before {
    color: #5ec1e0;
    margin-left: -0.9rem;
    font-size: 0.66rem;
    margin-top: 0rem;
  }
  #content-inner.layout h1:hover, /*本站已删除此行代码*/
  #content-inner.layout h2:hover,
  #content-inner.layout h3:hover,
  #content-inner.layout h4:hover,
  #content-inner.layout h5:hover,
  #content-inner.layout h6:hover {
    color: rgb(90,135,255);
  }
  #content-inner.layout h1:hover::before,
  #content-inner.layout h2:hover::before,
  #content-inner.layout h3:hover::before,
  #content-inner.layout h4:hover::before,
  #content-inner.layout h5:hover::before,
  #content-inner.layout h6:hover::before {
    color: rgb(90,135,255);
    -webkit-animation: ccc 3.2s linear infinite;
    animation: ccc 3.2s linear infinite;
  }
  
/* 页面设置icon转动速度调整 */
#rightside_config i.fas.fa-cog.fa-spin {
    animation: fa-spin 5s linear infinite;
  }
/*个人信息按钮圆角*/
#card-info-btn {
  border-radius: 7px;
  overflow: hidden;
}
/*页码按钮美化*/
.layout>.recent-posts .pagination> {
  display: inline-block;
  margin: 0 6px;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

/*页码按钮圆角*/
#pagination .page-number.current {
    border-radius: 7px;
}
/*文章卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
  border-radius: 35px;
}
/*目录卡片圆角*/
#aside-content .card-widget {
  border-radius: 20px;
}
/*首页文章圆角*/
.layout > .recent-posts > .recent-post-item {
    border-radius: 20px !important
}
/*图片圆角*/
#article-container img {
  border-radius: 15px;
}

/*Waline表情自适应*/
.wl-emoji-popup{
    width: 100%;
}
/*web-bg*/
#web_bg {
    position: fixed;
    z-index: -999;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(35deg,#0095c2 21%,#64e1C8f9 100%);
    background: -moz-linear-gradient(35deg,#0095c2 21%,#64e1C8f9 100%);
    background: -o-linear-gradient(35deg,#0095c2 21%,#64e1C8f9 100%);
    background: -ms-linear-gradient(35deg,#0095c2 21%,#64e1C8f9 100%);
    background: linear-gradient(55deg,#0095c2 21%,#64e1C8f9 100%);
    background-attachment: local;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
/*svg-bg*/
#svg_bg {
    background: url("/img/circuit diagram.svg");
    -webkit-background-size: initial;
    -moz-background-size: initial;
    background-size: initial;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 3.2;
    background-position: center;
    z-index: -998;
}

/* 首页分类条展示 */
#category-bar{
    padding: 0.4rem 1rem 0.4rem 0.5rem;
    background-color: #ffffff;
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 1rem;
    border: var(--style-border);
  }
  
  @media screen and (max-width: 768px){
    #category-bar{
      border-radius: 12px;
    }
  }
  
  #category #category-bar{
    padding: 0;
    border: none;
  }
  
  #category a.category-bar-item.select a{
    display: none;
  }
  
  .category-in-bar{
    display: flex;
    white-space: nowrap;
  }
  
  .category-in-bar-tips{
    margin-right: 1rem;
  }
  
  .category-bar-items{
    white-space: nowrap;
    overflow-x: scroll;
    display: flex;
  }
  
  
  
  .category-bar-items::-webkit-scrollbar{
    display: none;
  }
  
  .category-bar-item a{
    padding: 0.1rem 0.5rem;
    margin: 0 0.25rem;
    font-weight: bold;
    border-radius: 12px;
  }
  
  .category-bar-item:hover a{
    background: var(--heo-main);
    color: var(--heo-white);
  }
  
  .category-bar-item.select a {
    background: var(--heo-main);
    color: var(--heo-white);
    border-radius: 12px;
  }
  
  .category-bar-more{
    margin-left: 1rem;
    font-weight: bold;
  }

  /* 所有卡片线框式 */
  .card-widget,#rightside-config-hide button,#rightside-config-show button,.recent-post-item,#archive,#page,#post,#category-bar,.page-number{
border: 3px solid #19a5c1;
}
#rightside-config-hide button,#rightside-config-show button{
    line-height: 30px!important;
}
.page-number{
    line-height: 2em!important;
}

